<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<app-cards></app-cards>

<div class="example-button-container" style="position: fixed; bottom: 50px; right: 50px;">
  <button mat-fab color="warn" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
</div>